@font-face {
  font-family: 'Besley';
  src: url('/fonts/besley/Besley-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Besley';
  src: url('/fonts/besley/Besley-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}
