---
import { makeTitle } from '@/config'
import BaseLayout from '@/layouts/BaseLayout.astro'
import WordleGame from '@/components/games/wordle/WordleGame.vue'
import { m } from '@/paraglide/messages'
---

<BaseLayout
  title={makeTitle(m.page_games_wordle_title())}
  fallbackNavigationLabel={m.page_games_wordle_fallback_navigation_label()}
>
  <div class="content-container">
    <WordleGame client:only="vue" />
  </div>
</BaseLayout>

<style lang="scss">
  .content-container {
    padding: 6rem 0;
  }
</style>
