---
import { makeTitle } from '@/config'
import BaseLayout from '@/layouts/BaseLayout.astro'
import WordleGame from '@/components/games/wordle/WordleGame.vue'
import { t } from 'astro-i18n'
---

<BaseLayout
  title={makeTitle(t('page.games.wordle.title'))}
  fallbackNavigationLabel={t('page.games.wordle.fallback_navigation_label', undefined, {
    locale: Astro.currentLocale
  })}
>
  <div class="content-container">
    <WordleGame locale={Astro.currentLocale} client:only="vue" />
  </div>
</BaseLayout>

<style lang="scss">
  .content-container {
    padding: 6rem 0;
  }
</style>
