---
import { makeTitle } from '@/config'
import IndexLayout from '@/layouts/IndexLayout.astro'
import WordleGame from '@/components/games/wordle/WordleGame.vue'
import { t } from 'astro-i18n'
---

<IndexLayout
  title={makeTitle('Wordle')}
  fallbackNavigationLabel={t('page.wordle.fallback_navigation_label', undefined, {
    locale: Astro.currentLocale
  })}
>
  <div class="content-container">
    <WordleGame class="wordle" client:visible />
  </div>
</IndexLayout>

<style lang="scss">
  .content-container {
    padding: 6rem 0;
  }
</style>
