@import url('/fonts/liga-sf-mono/index.scss');
@import url('/fonts/sf-pro/index.scss');

@font-face {
  font-family: 'M+ 2P';
  src: url('/fonts/mplus-2p-black.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Naisho Moji';
  src: url('/fonts/NaishoMoji-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
