@import url('./fonts.scss');
@import url('./palette.scss');
@import url('./animations.scss');
@import url('./main.scss');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
}

html {
  margin: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}

body {
  margin: 0;
  width: 100%;
  height: max(100%, fit-content);
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color var(--duration-regular),
    background-color var(--duration-regular);
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
