@import url('./fonts.scss');
@import url('./palette.scss');
@import url('./animations.scss');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color var(--duration-regular),
    background-color var(--duration-regular);
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: underline;
}

button {
  color: var(--color-text);
  background: transparent;
  border: none;
}

.tint-kita {
  --tint: var(--color-tint-red);
  color: var(--tint);

  &::selection,
  *::selection {
    background: var(--color-tint-red-mute);
  }
}

.tint-ryo {
  --tint: var(--color-tint-blue);
  color: var(--tint);

  &::selection,
  *::selection {
    background: var(--color-tint-blue-mute);
  }
}

.tint-bocchi {
  --tint: var(--color-tint-pink);
  color: var(--tint);

  &::selection,
  *::selection {
    background: var(--color-tint-pink-mute);
  }
}

.tint-nijika {
  --tint: var(--color-tint-yellow);
  color: var(--tint);

  &::selection,
  *::selection {
    background: var(--color-tint-yellow-mute);
  }
}

::selection {
  background: var(--color-selection);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: bold;
}

.disable-scrollbars {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
