@mixin layout($level) {
  @if $level == compact {
    @media screen and (max-width: 512px) {
      @content;
    }
  } @else if $level == mobile {
    @media screen and (min-width: 513px) {
      @content;
    }
  } @else if $level == desktop {
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else if $level == wide {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }
}
