/* color palette referencing <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: rgb(255, 255, 255);
  --vt-c-white-soft: rgba(248, 248, 248, 0.855);
  --vt-c-white-mute: rgba(242, 242, 242, 0.855);
  --vt-c-white-transparent: rgba(255, 255, 255, 0.113);

  --vt-c-black: rgb(18, 18, 18);
  --vt-c-black-soft: rgba(26, 26, 26, 0.64);
  --vt-c-black-mute: rgba(32, 32, 32, 0.64);
  --vt-c-black-transparent: rgba(0, 0, 0, 0.084);

  --vt-c-divider-light-1: rgb(222, 222, 222);
  --vt-c-divider-light-2: rgb(230, 230, 230);
  --vt-c-divider-dark-1: rgb(53, 53, 53);
  --vt-c-divider-dark-2: rgb(67, 67, 67);

  --vt-c-text-light-1: var(--vt-c-black);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* tints */
:root {
  /* kita */
  --vt-c-tint-red-light: rgb(253, 66, 66);
  --vt-c-tint-red-light-1: rgba(253, 66, 66, 0.29);
  --vt-c-tint-red-light-2: rgb(253, 66, 66, 0.12);

  --vt-c-tint-red-dark: rgb(255, 78, 78);
  --vt-c-tint-red-dark-1: rgb(255, 78, 78, 0.65);
  --vt-c-tint-red-dark-2: rgb(255, 78, 78, 0.48);

  /* ryo */
  --vt-c-tint-blue-light: rgb(36, 123, 236);
  --vt-c-tint-blue-light-1: rgba(36, 123, 236, 0.29);
  --vt-c-tint-blue-light-2: rgb(36, 123, 236, 0.12);

  --vt-c-tint-blue-dark: rgb(90, 134, 255);
  --vt-c-tint-blue-dark-1: rgb(90, 134, 255, 0.65);
  --vt-c-tint-blue-dark-2: rgb(90, 134, 255, 0.48);

  /* bocchi */
  --vt-c-tint-pink-light: rgb(244, 58, 148);
  --vt-c-tint-pink-light-1: rgba(244, 58, 148, 0.29);
  --vt-c-tint-pink-light-2: rgb(244, 58, 148, 0.12);

  --vt-c-tint-pink-dark: rgb(253, 92, 146);
  --vt-c-tint-pink-dark-1: rgb(253, 92, 146, 0.65);
  --vt-c-tint-pink-dark-2: rgb(253, 92, 146, 0.48);

  /* nijika */
  --vt-c-tint-yellow-light: rgb(247, 199, 40);
  --vt-c-tint-yellow-light-1: rgba(247, 199, 40, 0.29);
  --vt-c-tint-yellow-light-2: rgb(247, 199, 40, 0.12);

  --vt-c-tint-yellow-dark: rgb(255, 216, 86);
  --vt-c-tint-yellow-dark-1: rgb(255, 216, 86, 0.65);
  --vt-c-tint-yellow-dark-2: rgb(255, 216, 86, 0.48);
}

/* semantic color variables for this project */
:root {
  --color-tint-red: var(--vt-c-tint-red-light);
  --color-tint-red-soft: var(--vt-c-tint-red-light-1);
  --color-tint-red-mute: var(--vt-c-tint-red-light-2);

  --color-tint-blue: var(--vt-c-tint-blue-light);
  --color-tint-blue-soft: var(--vt-c-tint-blue-light-1);
  --color-tint-blue-mute: var(--vt-c-tint-blue-light-2);

  --color-tint-pink: var(--vt-c-tint-pink-light);
  --color-tint-pink-soft: var(--vt-c-tint-pink-light-1);
  --color-tint-pink-mute: var(--vt-c-tint-pink-light-2);

  --color-tint-yellow: var(--vt-c-tint-yellow-light);
  --color-tint-yellow-soft: var(--vt-c-tint-yellow-light-1);
  --color-tint-yellow-mute: var(--vt-c-tint-yellow-light-2);
}

:root {
  --tint: var(--color-text);
  --tint-soft: var(--color-text-soft);
  --tint-mute: var(--color-border);

  --color-selection: var(--vt-c-black-transparent);

  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-transparent: var(--vt-c-white-transparent);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-text: var(--vt-c-text-light-1);
  --color-text-soft: var(--vt-c-text-light-2);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-tint-red: var(--vt-c-tint-red-dark);
    --color-tint-red-soft: var(--vt-c-tint-red-dark-1);
    --color-tint-red-mute: var(--vt-c-tint-red-dark-2);

    --color-tint-blue: var(--vt-c-tint-blue-dark);
    --color-tint-blue-soft: var(--vt-c-tint-blue-dark-1);
    --color-tint-blue-mute: var(--vt-c-tint-blue-dark-2);

    --color-tint-pink: var(--vt-c-tint-pink-dark);
    --color-tint-pink-soft: var(--vt-c-tint-pink-dark-1);
    --color-tint-pink-mute: var(--vt-c-tint-pink-dark-2);

    --color-tint-yellow: var(--vt-c-tint-yellow-dark);
    --color-tint-yellow-soft: var(--vt-c-tint-yellow-dark-1);
    --color-tint-yellow-mute: var(--vt-c-tint-yellow-dark-2);
  }

  :root {
    --color-selection: var(--vt-c-white-transparent);

    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    --color-background-transparent: var(--vt-c-black-transparent);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-text: var(--vt-c-text-dark-1);
    --color-text-soft: var(--vt-c-text-dark-2);
  }
}

/* custom properties for main.scss */
:root {
  --hr-spacing: 3.75rem;
  --hr-padding: 0;
}
