---
import ColoredBars from '@/components/decorations/ColoredBars.vue'
import NavigationSwitcher from './NavigationSwitcher.vue'
import Logo from '@/assets/logo.svg'
---

<div class="container">
  <div class="left">
    <div class="logo">
      <a href="/"><Logo /></a>
    </div>
  </div>
  <div class="center disable-scrollbars">
    <NavigationSwitcher class="switcher" />
  </div>
  <div class="right">
    <div class="bars">
      <ColoredBars />
    </div>
  </div>
</div>

<style lang="scss">
  .container {
    display: grid;
    grid-template-areas: 'left center right';
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    align-items: center;

    a {
      text-decoration: none;
    }
  }

  .left,
  .right {
    white-space: nowrap;
  }

  .left {
    display: flex;
    flex-direction: row;
  }

  .right {
    display: flex;
    flex-direction: row-reverse;
  }

  .center {
    text-align: center;
    overflow: scroll;
  }

  .logo {
    width: 2rem;
    height: 2rem;
  }

  .bars {
    display: flex;
    flex-direction: row;
    width: 5rem;
    height: 0.25rem;
  }

  .switcher {
    font-stretch: condensed;
  }
</style>
