---
import IndexLayout from '@/layouts/IndexLayout.astro'
---

<IndexLayout title="404 - Kessoku Tea Time" description="Page not found">
  <div class="error-container">
    <p class="error">404</p>
  </div>
</IndexLayout>

<style lang="scss">
  .error-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  .error {
    font-size: 2rem;
    font-stretch: expanded;
  }
</style>
