---
import IndexLayout from '@/layouts/IndexLayout.astro'
import { makeTitle } from '@/config'
import { t } from 'astro-i18n'
import { renderInline } from '@/lib/markdown'
---

<IndexLayout title={makeTitle('404')} description="Page not found">
  <div class="error-container">
    <slot
      set:html={renderInline(t('page.404.content', undefined, { locale: Astro.currentLocale }))}
    />
  </div>
</IndexLayout>

<style lang="scss">
  .error-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 2.5rem;
      font-stretch: extra-expanded;
    }

    p {
      color: var(--color-text-soft);
    }
  }
</style>
