---
import MerryGoRound from '@/components/decorations/merry-go-round/MerryGoRound.vue'
import IndexLayout from '@/layouts/IndexLayout.astro'
import Overview from '@/components/attachments/index/Overview.mdx'
---

<IndexLayout>
  <Fragment slot="background">
    <div class="background">
      <MerryGoRound client:load />
    </div>
  </Fragment>
  <Fragment>
    <div class="merry-go-round-placeholder"></div>
    <Overview />
  </Fragment>
</IndexLayout>

<style lang="scss">
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  .merry-go-round-placeholder {
    height: 100vh;
  }
</style>
