---
import IndexLayout from '@/layouts/IndexLayout.astro'
import Footer from '@/components/Footer.astro'
import MerryGoRound from '@/components/decorations/merry-go-round/MerryGoRound.vue'
import LanguageSelector from '@/components/navigation/LanguageSelector.astro'
import Overview from '@/components/attachments/index/Overview.mdx'
import { t } from 'astro-i18n'
import { marked } from 'marked'

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
---

<IndexLayout title={title} description={description}>
  <Fragment slot="background">
    <div class="background" transition:name="background">
      <MerryGoRound client:idle />
    </div>
  </Fragment>
  <Fragment>
    <div class="merry-go-round-placeholder"></div>
    <div class="content-container prose">
      <h5 class="language-selector">
        <p
          set:html={marked.parse(
            t('page.index.language_selector.pre', undefined, {
              locale: Astro.currentLocale
            })
          )}
        />
        <LanguageSelector />
        <p
          set:html={marked.parse(
            t('page.index.language_selector.post', undefined, {
              locale: Astro.currentLocale
            })
          )}
        />
      </h5>
      <slot>
        <Overview />
      </slot>
    </div>
  </Fragment>
  <slot slot="footer" name="footer">
    <Footer />
  </slot>
</IndexLayout>

<style lang="scss">
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  .merry-go-round-placeholder {
    height: 100vh;
    margin-bottom: 4rem;
  }

  .content-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      var(--color-background) 4rem,
      var(--color-background) 100%
    );
  }

  .language-selector {
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items: baseline;

    color: var(--color-text-soft);
    padding-top: 4rem;
    margin-bottom: -2.75rem;

    & > * {
      display: inline-block;
    }
  }
</style>
