---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Footer from '@/components/Footer.astro'
import MerryGoRound from '@/components/decorations/merry-go-round/MerryGoRound.vue'
import LanguageSelector from '@/components/navigation/LanguageSelector.astro'
import Overview from '@/components/Overview.astro'
import Title from '@/components/attachments/index/Title.mdx'
import Description from '@/components/attachments/index/Description.mdx'
import { t } from 'astro-i18n'
import { renderInline } from '@/lib/markdown'
import { makeTitle } from '@/config'
---

<BaseLayout title={makeTitle(t('page.index.title'))} description={t('page.index.description')}>
  <Fragment slot="background">
    <div class="background" transition:name="background">
      <MerryGoRound client:idle />
    </div>
  </Fragment>
  <Fragment>
    <div class="merry-go-round-placeholder"></div>
    <div class="content-container prose">
      <h5 class="language-selector">
        <span set:html={renderInline(t('page.index.language_selector.pre'))} />
        <span class="select-wrapper">
          <LanguageSelector />
        </span>
        <span set:html={renderInline(t('page.index.language_selector.post'))} />
      </h5>
      <slot>
        <Overview>
          <Title slot="title" />
          <Description slot="description" />
        </Overview>
      </slot>
    </div>
  </Fragment>
  <slot slot="footer" name="footer">
    <Footer />
  </slot>
</BaseLayout>

<style lang="scss">
  @use '@/styles/mixins' as *;

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    z-index: -1;

    animation: move-background linear;
    animation-timeline: scroll(root block);
    animation-range: 0vh 200vh;
  }

  .merry-go-round-placeholder {
    height: 100svh;
    margin-bottom: 4rem;
  }

  .content-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      var(--color-background) 4rem,
      var(--color-background) 100%
    );

    --hr-padding: 2rem;

    @include layout(compact) {
      padding: 2rem 0;

      --hr-padding: 0;
    }
  }

  .language-selector {
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items: baseline;

    color: var(--color-text-soft);
    padding-top: 4rem;
    margin-bottom: -1em;
  }

  @keyframes move-background {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-50svh);
    }
  }
</style>
