---
import MerryGoRound from '@/components/decorations/merry-go-round/MerryGoRound.vue'
import IndexLayout from '@/layouts/IndexLayout.astro'
import Overview from '@/components/attachments/index/Overview.mdx'
---

<IndexLayout>
  <Fragment slot="background">
    <div class="background">
      <MerryGoRound client:load />
    </div>
  </Fragment>
  <Fragment>
    <div class="merry-go-round-placeholder"></div>
    <div class="content-container">
      <Overview />
    </div>
  </Fragment>
</IndexLayout>

<style lang="scss">
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  .merry-go-round-placeholder {
    height: 100vh;
    margin-bottom: 4rem;
  }

  .content-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      var(--color-background) 4rem,
      var(--color-background) 100%
    );
  }
</style>
