---
import IndexLayout from '@/layouts/IndexLayout.astro'
import Title from '@/components/attachments/works/Title.mdx'
import { makeTitle } from '@/config'
import { t } from 'astro-i18n'
---

<IndexLayout title={makeTitle(t('page.works.title'))} , description={t('page.works.description')}>
  <Fragment>
    <div class="content-container prose">
      <slot name="title">
        <Title />
      </slot>
    </div>
  </Fragment>
</IndexLayout>

<style lang="scss">
  .content-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
