---
import Logo from '@/assets/logo.svg'
import FooterContent from '@/components/attachments/FooterContent.mdx'
import FooterFootnote from '@/components/attachments/FooterFootnote.mdx'
import { commitHash, commitHashShort } from '@/components/consts/CommitHash.astro'
---

<div class="container">
  <div class="background">
    <Logo />
  </div>
  <div class="content">
    <FooterContent />
  </div>
  <div class="footnote">
    <FooterFootnote />
    <a
      href={`https://github.com/KessokuTeaTime/website/commit/${commitHash}`}
      target="_blank"
      rel="noopener"
      class="commit-hash"
    >
      {commitHashShort}
    </a>
  </div>
</div>

<style lang="scss">
  @use '@/styles/mixins' as *;

  .container {
    position: relative;
    display: grid;
    font-size: 0.6rem;
    grid-template-areas:
      'content'
      '.'
      'footnote';
    grid-template-columns: auto;
    grid-template-rows: auto 1rem auto;
    padding: 2rem 12rem 2rem 2rem;
    overflow: hidden;

    @include layout(desktop) {
      grid-template-areas: 'content footnote';
      grid-template-columns: auto auto;
      grid-template-rows: auto;
    }
  }

  .background {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(1.5rem) translateY(-50%);
    height: 12.5rem;
    aspect-ratio: 1/1;
    pointer-events: none;
    --tint: var(--color-border);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: content;
    z-index: 1;
  }

  .footnote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: footnote;
    z-index: 1;

    @include layout(desktop) {
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  }

  .commit-hash {
    color: var(--color-border);
    font-family: var(--font-mono);
    text-decoration: none;
  }
</style>
