---
import FooterContent from '@/components/attachments/index/FooterContent.mdx'
---

<div class="footer-container">
  <div class="footer-content">
    <FooterContent />
  </div>
  <div class="footer-note">Footer Links</div>
</div>

<style lang="scss">
  @use '@/styles/mixins' as *;

  p {
    margin: 0;
  }

  .footer-container {
    display: grid;
    font-size: 0.6rem;
    grid-template-areas:
      'footer-content'
      '.'
      'footer-note';
    grid-template-columns: auto;
    grid-template-rows: auto 1rem auto;

    @include layout(desktop) {
      grid-template-areas: 'footer-content footer-note';
      grid-template-columns: auto auto;
      grid-template-rows: auto;
    }
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: footer-content;
  }

  .footer-note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: footer-note;
  }
</style>
