---
import Logo from '@/assets/logo.svg'
import LanguageSelector from './navigation/LanguageSelector.astro'
import { commitHash, commitHashShort } from '@/components/consts/CommitHash.astro'
import { t } from 'astro-i18n'
import { marked } from 'marked'
---

<div class="container">
  <div class="background">
    <Logo />
  </div>
  <div class="content">
    <p>&copy;{new Date().getFullYear()}&emsp;結束ティータイム</p>
    <p
      set:html={marked.parseInline(
        t('component.footer.content', undefined, { locale: Astro.currentLocale })
      )}
    />
  </div>
  <div class="footnote">
    <p>
      <span
        set:html={marked.parseInline(
          t('component.footer.footnote.pre', undefined, { locale: Astro.currentLocale })
        )}
      />
      <span class="select-wrapper">
        <LanguageSelector />
      </span>
      <span
        set:html={marked.parseInline(
          t('component.footer.footnote.post', undefined, { locale: Astro.currentLocale })
        )}
      />
    </p>
    <a
      href={`https://github.com/KessokuTeaTime/website/commit/${commitHash}`}
      target="_blank"
      rel="noopener"
      class="commit-hash"
    >
      {commitHashShort}
    </a>
  </div>
</div>

<style lang="scss">
  @use '@/styles/mixins' as *;

  .container {
    position: relative;
    display: grid;
    font-size: 0.6rem;
    grid-template-areas:
      'content'
      '.'
      'footnote';
    grid-template-columns: auto;
    grid-template-rows: auto 1rem auto;
    padding: 2rem 12rem 2rem 2rem;
    overflow: hidden;

    @include layout(desktop) {
      grid-template-areas: 'content footnote';
      grid-template-columns: auto auto;
      grid-template-rows: auto;
    }
  }

  .background {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(1.5rem) translateY(-50%);
    height: 12.5rem;
    aspect-ratio: 1/1;
    pointer-events: none;
    --tint: var(--color-border);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: content;
    z-index: 1;
  }

  .footnote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: footnote;
    z-index: 1;

    @include layout(desktop) {
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  }

  .commit-hash {
    color: var(--color-border);
    font-family: var(--font-mono);
    text-decoration: none;
  }

  .select-wrapper {
    margin: 0 -4px;
  }
</style>
