---
import NavigationBar from '@/components/navigation/NavigationBar.astro'
import Layout from './Layout.astro'
import Footer from '@/components/Footer.astro'

interface Props {
  title?: string
  description?: string
  hasFooter?: boolean
  fallbackNavigationLabel?: string
}

const { title, description, hasFooter = true, fallbackNavigationLabel } = Astro.props
---

<Layout title={title} description={description}>
  <Fragment slot="background">
    <slot name="background" />
  </Fragment>
  <Fragment>
    <div class="page-container">
      <header transition:name="header">
        <nav>
          <NavigationBar fallbackLabel={fallbackNavigationLabel} />
        </nav>
      </header>
      <div class="content-container" transition:name="content">
        <slot />
      </div>
      {
        hasFooter && (
          <footer transition:name="footer">
            <slot name="footer">
              <Footer />
            </slot>
          </footer>
        )
      }
    </div>
  </Fragment>
</Layout>

<style lang="scss">
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .content-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
  }
  header {
    position: sticky;
    top: 0;
    padding: 0.75rem;
    border-bottom: 1px dashed var(--color-border);
    background: var(--color-background-transparent);
    backdrop-filter: blur(var(--blur-radius-thick));
    z-index: 1;
  }

  footer {
    color: var(--color-text-soft);
    background: var(--color-background);
    border-top: 1px dashed var(--color-border);
  }
</style>
