name: Build & push to Docker Hub

on:
  # push:
  #   branches: ['main']
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'build'
  cancel-in-progress: true

env:
  BUILD_PATH: '.'

jobs:
  setup:
    name: Setup docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

  build:
    name: Build and push
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: yourname/astro-static:latest
